html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 80px;
	margin-bottom: 60px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	min-height: 30px;
	border-top: 1px solid #999999;
	background-color: #eeeeee;
	line-height: 30px;
}

#footer .container .text-muted {
	margin: 0px;
	font-size: 16px;
}

#header-search-wrapper {
	max-width: 200px
}

.navbar-brand img {
	margin-top: -7%;
}

/* reduce the main container's top padding */
.jumbotron {
	padding-top: 15px !important;
}

/* Begin select2 fixes */
	/* predefine the home and header search input height, in case select2 doesn't init  */
	#home-search {
		height: 45px !important;
	}

	#home-search-wrapper input[type="text"].select2-input {
		height: 43px !important;
		font-size: 19px !important ;
	}

	#home-search-wrapper .select2-choices {
		min-height: 43px !important;
		max-height: 43px !important;
	}

	#home-search-wrapper .select2-search-choice {
		line-height: 29px !important;
		font-size: 18px;
	}
	#home-search-wrapper .select2-container-multi .select2-search-choice-close {
		top: 11px;
	}

	#s2id_header-search {
		min-width: 200px;
	}

	#header-search-wrapper .select2-search-choice {
		line-height: 18px !important;
		font-size: 15px;
	}

	#header-search-wrapper .select2-container-multi .select2-search-choice-close {
		top: 6px;
	}	
	#image-labels-wrapper .select2-search-choice {
		line-height: 18px !important;
		font-size: 15px;
	}

	#image-labels-wrapper .select2-container-multi .select2-search-choice-close {
		top: 6px;
	}

	.select2-results {
		max-height: 300px !important;
	}

/* End select2 fixes */

/* reduce the width of the header login form */
#header-login input {
	max-width:135px !important;
}

#header-login .form-group{
	vertical-align: top !important;
}

@media screen and (max-width: 1100px){
	#header-login input {
		display:none;	
	}
	.navbar-brand img {
		width: 60%;
	}
	#footer {
		position: absolute;
	}
}

/* fix negative right padding of the login section */
.navbar-nav.navbar-right:last-child{
	margin-right: 0px !important;
}

#image {
	max-width: 100% !important;
}
#search-results {
	width: 90%;
	margin: 0 auto;

	margin-top: 40px;
}
#image-box {
	margin: 30px auto;
}
#home-search-form button.btn {
	height: 45px !important;
	line-height: 15px;
}
#footer {
	z-index: 100;
}
.top-spacer {
	margin-top: 30px;
}
.bot-spacer {
	margin-bottom: 30px;
}
#image-labels .select2-search-choice {
	line-height: 18px !important;
	font-size: 15px;
}
#about.jumbotron p {
	font-size: 18px;
}
#upload-description  {
	font-size: 17px;
	width: 28%;
	margin-left:2%;
}
#upload-description p {
	font-size: 17px;
}
@media screen and (max-width: 1000px){
	#upload-description { 
		margin-top:3%;
		width: 100%;
		float:none;
	}
	.dropzone {
		width: 100%;
	}
}

#tager-description p {
	font-size: 16px;
}
.tag {
	margin: 7px;
	border-radius: 8px;
	vertical-align: top;
}

#login-form {
	width: 60%;
}

#registration-form {
	width: 60%;
}

#noacc-email {
	width: 60%;
}

#noacc-email-wrapper {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -170px;
	width: 340px;
	bottom: 30px;
}

.checkbox {
	margin-top: 0px !important;
}

.icon-fb {
	background: url('../images/fb.png') no-repeat center;
	height: 18px;
	width: 18px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.thumbnail {
	position: relative;
}

.image-status {
	position: absolute;
	right: 10px;
	top: 10px;
}

.dropdown-menu {
	min-width: 250px;
}

.glyphicon {
	color: #428bca;
}

.menu_approval_badge {
	margin-right: -9px;
	float: right;
}

.badge {
	background-color: #428bca;
}